@import url(../_fonts/icomoon/style.css);

* {
	font-family: helvetica,arial,sans-serif;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;


}
body {
	background-color: #fffbed;

}
/*---------------------
| Container
---------------------*/
#container-fluid {
	text-align: center;
	margin: 0px;
}
	
/*---------------------
| Header
---------------------*/
#main {
	margin-top: 30px;
}


/*---------------------
| Nav
---------------------*/
a.sm {
	font-size: 20px;
	color: red;

	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}

.navbar {
	background-color: #fffbed;
	box-shadow: none;
	border: none;
	border-radius: none;

}
.navbar-default .navbar-toggle {
	border-color: #331956;
}
.navbar-default .navbar-toggle .icon-bar {
	color: #fffbed;
	background-color: #331956;
}
.links {
	background-color: #fffbed !important;
	color: #331956 !important;
}
.links:hover, .links:focus {
	background-color: #331956 !important;
	color: #fffbed !important;
}

.collapsed:hover {
	background-color: #331956;
}

/*---------------------
| Carousel
---------------------*/
#carousel {
/*	margin-top: 20px;*/
	margin-bottom: 20px;
}


/*---------------------
| Body Navigation
---------------------*/
.images{
	margin-bottom: 20px;

	margin-left: auto;
	margin-right: auto;
	opacity: .7;

}
.images:hover {
	margin-bottom: 20px;
	opacity: 1;

}

/*---------------------
| About Page
---------------------*/
h1 {
	margin-top: 20px;
	font-size: 20px;
}
p {
	margin-top: 10px;
}

/*---------------------
| Gallery
---------------------*/

.img-responsive {
	opacity: .5;
	text-align: center;

	margin: 0px;
}
.img-responsive:hover {
	opacity: 1;
}
.modal-header, .modal-body {
	background-color: #fffbed;
	color: #331598;
}
.modal-header {
	font-style: italic;
}

.row {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

/*---------------------
| Contact
---------------------*/

.form-control {
	color: #fffbed;
	background-color: #331598;
	opacity: .6;
}
.btn-default {
	color:#fffbed;
	background-color: #331598;
	opacity: .6;

}
.btn-default:hover{
	color: #fffbed;
	background-color: #331598;
	opacity: 1;
}
.form-group {
	color: #fffbed;
	margin-top: 10px;
}
#lastWords {
	text-align: center;
	font-size: 23px;
	margin-right: auto;
	margin-left: auto;
	color: #331956;
	text-transform: uppercase;

	margin-top: 50px;
	margin-bottom: -30px;

}
.contact {
	margin-top: 25px;
}
#contactForm {
	width: 90%;
}
#cForm {

}
/*---------------------
| Footer
---------------------*/
footer {
	margin-top: 20px;
	text-align: center;
}

